body{
	margin: 0px;
}

header{
	margin:  0;
	background:Teal;
}
#number{
	color:white;
	margin: 0px 250px;
}
.menu div h1{
	color:white;
	margin: 0px;
	text-align:left;
}
hr{
	color: #008080;
	size: 4px;
}
nav{
	padding: 20px;
	background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 128, 128),rgb(0, 128, 128), rgb(0, 0, 0));
	border: black solid 3px;
	border-radius:20px;
	text-align: center;
	color:LightCyan;
	word-spacing:15px;
	margin: 0px 250px;
}
nav a{
	margin-top: 200px;
	text-decoration: none;
}
nav a:link{
	color:white;
}
nav a:visited{ 
    color:LightCyan;
}
.paterns{
	float:left;
	text-align:center;
}
.copyright{
	float: center;
	text-align:center;
	}
.marks{
	float:right;
	text-align:center;
}
.menu{
	justify-content: space-between;
	display: flex;
	padding: 0 250px;
	text-align:center;
	background:LightSeaGreen;
}
ol{
	color:LightCyan;
	list-style: none;
	padding: 0px 0px;
	margin: 0px 0px;
	text-align: left;
}
li:before{
    content: '✔ ';
}
main{
	display: flex;
	width: 100%;
	height: 100%;;
}
.leftrow{
	width: 20%;
	height: 1000px;
	background: white;
	margin: 0px;
}
.mainrow{
	flex-grow:3;
	width: 60%;
	height: 1000px;
	background:Gainsboro;
	margin: 0px;
}
.rightrow{
	width: 20%;
	height: 1000px;
	background: white;
	margin: 0px;
}